<!DOCTYPE html>
<html>
<head>
    <title>Fake News Detector</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            margin-top: 50px;
        }
        .textarea {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Fake News Detection</h1>
        <form method="post">
            <div class="form-group textarea">
                <textarea class="form-control" name="newsText" rows="4" placeholder="Enter news text here..."></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Predict</button>
        </form>
        {% if message %}
            <p class="alert alert-danger">{{ message }}</p>
        {% endif %}
        {% if prediction != None %}
            <div class="alert alert-info">
                <h3>Prediction: {{ prediction }}</h3>
                <p><strong>News Text:</strong> {{ news_text }}</p>
            </div>
        {% endif %}
    </div>
    <!-- Include Bootstrap JS and its dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
